.container{
    
    text-align: center;
    width: 350px;
    height: 400px;
    border: 1.5px solid #E6E6E6;
    margin: auto;
    margin-top: 100px;
    
    
}
.instagramText{
    margin-top: 60px;
    margin-bottom:20px;
}
.userlogin{
    width:280px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    background-color:#fafafa;
    text-indent: 10px; 
}
.userpwd{
    width:280px;
    height:40px;
    margin-bottom: 15px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    background-color:#fafafa;
    text-indent: 10px;
    
}
#loginButton{
    width:290px;
    height:35px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    background-color: rgba(144, 198, 248, 0.5);
    color:white;

}
.joinInsta{
    border:1.5px solid #E6E6E6;
    text-align:center;
    margin:auto;
    width:350px;
    margin-top:10px;
    
}
.joinBtn{
    background-color: white;
    border:white;
    color:rgb(82, 160, 228);
    font-weight: 1000;
}